@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,800,900');

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #ffffff;
}

main {
  margin-bottom: 4em;
}

p {
  font-size: 1.1em;
}

a {
  color: #7413dc;
}

h2 {
  margin-bottom: 1em;
}

footer {
  margin-bottom: 3em;
}

.beavers {
  color: #006ddf;
}

.cubs {
  color: #23a950;
}

.scouts {
  color: #7413dc;
}

.explorers {
  color: #003982;
}

.bg-purple {
  background-color: #7413dc;
  border-color: #4f0d96;
}

.bg-grey {
  background-color: #f7f7f7;
}

.bg-blue {
  background-color: #006ddf;
}

.bg-green {
  background-color: #00a794;
}

.jumbotron {
  color: #7413dc;
  background-color: #ffffff;
  border: 0;
}

.jumbotron-heading {
  font-weight: 900;
}

.btn {
  padding: 10px 20px;
}

.btn-primary  {
  background-color: #7413dc;
  border-color: #4f0d96;
}

.btn-cta {
  font-size: 1.1rem;
  font-weight: 900;
}

.btn-group {
  font-size: 1.1rem;
}

.btn-primary:hover {
  background-color: #00a794;
  border-color: #005b50;
}

.sections ul {
  padding: 0px 2px;
  list-style: none;
}

.sections h2 {
  color: #000000;
}

.sections a {
  font-size: 1.1rem;
  font-weight: 900;
}

.sections .what {
  padding: 0px 2em;
  border-left: 3px solid #00a794;
}

.sections .what a {
  color: #00a794;
}

.sections .join {
  padding: 0px 2em;
  border-left: 3px solid #006ddf;
}

.sections .join a {
  color: #006ddf;
}

.sections .volunteer {
  padding: 0px 2em;
  border-left: 3px solid #7413dc;
}

.sections .volunteer a {
  color: #7413dc;
}

.sections .links {

}

.links h2 {
  color: #ffffff;
}

.links a {
  font-size: 1.1rem;
  font-weight: 900;
  color: #ffffff;
}

.links ul {
  padding: 0px 2px;
  list-style: none;
  align: left;
}

.links .resources {
  padding: 0px 2em;
  border-left: 3px solid #ffffff;
}

.links .forms {
  padding: 0px 2em;
  border-left: 3px solid #ffffff;
}

.find-a-group h2 {
  color: #006ddf;
}

.find-a-group .grouplist {
  padding: 0px 2em;
  border-left: 3px solid #006ddf;
}

.find-a-group a {
  color: #006ddf;
}

.find-a-group ul {
  padding: 0px 2px;
  list-style: none;
  align: left;
}

.what-is-scouting .content {
  padding: 0px 2em;
  border-left: 3px solid #006ddf;
}

.what-is-scouting .content h2 {
  color: #006ddf;
}

.uniform .content {
  padding: 0px 2em;
  border-left: 3px solid #ffffff;
}

.uniform .content h2 {
  margin-bottom: 1em;
  color: #ffffff;
}

.uniform .content .card-body {
  font-size: 1.5rem;
}

.become-a-volunteer .content {
  padding: 0px 2em;
  border-left: 3px solid #7413dc;
}

.become-a-volunteer .content h2 {
  color: #7413dc;
}

.benefits .content {
  padding: 0px 2em;
  border-left: 3px solid #7413dc;
}

.benefits .content h2 {
  color: #7413dc;
}

.training .content {
  padding: 0px 2em;
  border-left: 3px solid #ffffff;
  color: #ffffff;
}

.training .content h2 {
  margin-bottom: 1em;
  color: #ffffff;
}

.events .content {
  padding: 0px 2em;
  border-left: 3px solid #00a794;
}

.events .content h2 {
  margin-bottom: 1em;
  color: #00a794;
}

.district-team .content {
  padding: 0px 2em;
  border-left: 3px solid #00a794;
}

.district-team .content h2 {
  margin-bottom: 1em;
  color: #00a794;
}

.news .content {
  padding: 0px 2em;
  border-left: 3px solid #ffffff;
  color: #ffffff;
}

.news .content h2 {
  margin-bottom: 1em;
  color: #ffffff;
}
